<form action="/get-membership" method="POST">
  <div>
    <label for="membership_passcode">MEMBERSHIP_PASSCODE</label>
    <input type="input" id="membership_passcode" name="membership_passcode" required />

    <button type="submit">Confirm</button>
  </div>
</form>
